<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fixed-Point Iteration</title>
   
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
    <h1>Fixed-Point Iteration</h1>

    <div class="accordion" onclick="toggleAccordion()">Fixed Point Iterations</div>
    <div class="panel" id="accordionPanel">
        <div class="panel-content">
            <h2>Finds the root of a function using fixed-point iteration</h2>
            <label for="initialGuess">Initial Guess:</label>
            <input type="text" id="initialGuess" name="initialGuess">
            <br>
            <label for="tolerance">Tolerance:</label>
            <input type="text" id="tolerance" name="tolerance">
            <br>
            <label for="maxIterations">Max Iterations:</label>
            <input type="text" id="maxIterations" name="maxIterations">
            <br>
            <label for="function">Enter a function:</label>
            <input type="text" id="function" name="function">
            <br>
            <button onclick="findRoot()">Find Root</button>
        </div>
    </div>

    <p id="resultTitle" style="display: none;">Root: <span id="result"></span></p>
    <p id="iterationsTitle" style="display: none;">Iterations:</p>
    <ul id="iterationsList"></ul>

    <h2 id="graphTitle" style="display: none;">Graph of Iterations:</h2>
    <img id="graphImage" src="" alt="Fixed-Point Iteration Plot" width="800" style="display: none;">

    <h2 id="tableTitle" style="display: none;">Iterations Table:</h2>
    <div id="tableDiv"></div>

    <script>
        // JavaScript functions
        function toggleAccordion() {
            var panel = document.getElementById('accordionPanel');
            panel.style.display = (panel.style.display === 'block') ? 'none' : 'block';
        }

        function findRoot() {
            var initialGuess = document.getElementById('initialGuess').value;
            var tolerance = document.getElementById('tolerance').value;
            var maxIterations = document.getElementById('maxIterations').value;
            var func = document.getElementById('function').value;

            // Sending a POST request to Flask application using XMLHttpRequest
            var xhr = new XMLHttpRequest();
            xhr.open("POST", "/find_root", true);
            xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");

            // Preparing data to be sent
            var data = "initialGuess=" + initialGuess + "&tolerance=" + tolerance + "&maxIterations=" + maxIterations + "&function=" + func;

            xhr.onreadystatechange = function () {
                if (xhr.readyState == 4 && xhr.status == 200) {
                    var response = JSON.parse(xhr.responseText);

                    // Add results to the page
                    document.getElementById('result').innerHTML = response.result_string;

                    // Titles
                    showTitles();

                    // Add iterations to the page
                    var iterationsList = document.getElementById('iterationsList');
                    iterationsList.innerHTML = ''; // Clear previous content
                    response.iterations.forEach(function (iteration) {
                        var listItem = document.createElement('li');
                        listItem.innerHTML = iteration;
                        iterationsList.appendChild(listItem);
                    });

                    // Call a function to update the chart and DataFrame
                    updateGraphAndTable(response.image_base64, response.table_html);
                }
            };

            // Sending data
            xhr.send(data);
        }

        function updateGraphAndTable(image_base64, table_html) {
           // Update the chart and DataFrame
            document.getElementById('graphImage').src = "data:image/png;base64," + image_base64;
            document.getElementById('tableDiv').innerHTML = table_html;

            // show graph
            document.getElementById('graphImage').style.display = 'block';
        }

        function showTitles() {
            // show titles
            document.getElementById('resultTitle').style.display = 'block';
            document.getElementById('iterationsTitle').style.display = 'block';
            document.getElementById('graphTitle').style.display = 'block';
            document.getElementById('tableTitle').style.display = 'block';
        }
    </script>
</body>
</html>